# Gradle
.gradle/
build/
**/build/
local.properties


# IntelliJ / Android Studio
.idea
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# Log files
*.log

# Android specific
captures/
.externalNativeBuild/
.cxx/

# Misc
.DS_Store
.kotlin
/app/release/
/app_wearable/release/
